<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <!-- Copyright -->
  <div class="row" style="background-color: #48698d; color:white; border: 2px solid black; border-radius: 10px; padding: 10px;">
    <div class="col-12">
      <div class="text-center p-4">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="#">TempoTrack</a>
        <span style="float: right;">TempoTrack Client v2.0.0</span>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
