<app-header></app-header>
<div class="card text-center">
    <div class="card-header">
      Acerca de
    </div>
    <div class="card-body">
      <h5 class="card-title">AlexSoft</h5>
      <p class="card-text">Somos el mejor equipo de trabajo del universo conocido y paralelos.</p>
      <p class="card-text">Desarrollamos software para dominar el mundo y hacer caer mercados y crear nuevos para que los reptilianos controlen la civilización.</p>
      <a href="/" class="btn btn-primary">Volver</a>
    </div>
    <div class="card-footer text-muted">
      Quedan 3 eones...
    </div>
  </div>
  <app-footer></app-footer>
